# Banyan Netagent configuration

# Shield address as IP_ADDR:PORT
shield_addr=REPLACE

# GPG password (available from Banyan)
gpg_password=REPLACE

# One Time Key to register Netagent, mandatory if Shield requires secure bootstrapping (available from Banyan Dashboard)
one_time_key=REPLACE_OR_DELETE

# Label all processes/containers on the host with custom metadata (comma-separated list, e.g, "k1=v1,k2=v2")
netagent_tags="{{netagent_tags}},{{netagent_tags_extra}}"

# Visibility mode (ignore CIDRs, roles, policies)
visibility_only=false

# Listen port on localhost (default=9999)
listen_port=9999

# Monitor non-containerized processes (true/false)
all_processes=true

# Disable fine-grained L7 data collection (true/false)
disable_L7=true

# Use Kubernetes kubelet
kubelet=false
kubelet_address=http://localhost:10255

# Logs will be stored in $log_home/netagent.log*
log_home=/var/log/banyan

# Runtime "nice" level [0-19]
nice_level=10

# [Optional] Set the open files ulimit, e.g., open_files=65536
open_files=65536

# [Optional] Traffic to ignore (comma-separated list of names, e.g., "consul,etcd")
ignore_traffic=

# [Optional] Specify local services from a file
services_from_file=false

# [Optional] Specify per-core CPU usage limit (percent of all CPUs: leave blank for no limit)
cpu_limit=

# Any other netagent command line options
netagent_opts="--cloglevel=ERR --floglevel=INFO"
